PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/hqms
JWT_SECRET=super_secret_jwt_key_hqms_2026
JWT_EXPIRES_IN=7d
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
CORS_ORIGIN=http://localhost:3001
